*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
  font-weight: 300;
  color: #58666e;
  background-color: #f0f3f4;
}

.title {
  color: #db5b33;
  font-weight: 300;
  text-align: center;
}
